WEB_STATUS_USERNAME=
WEB_STATUS_PASSWORD=
DISCORD_TOKEN=
PORT=8004

DEMO_WEBSOCKET_SERVER=wss://tartaros.gildedernacht.ch/ws

# Rollenspieltage 2020
DEMO_DISCORD_SERVERID=717810240946700360
DEMO_DISCORD_CHANNELID=717817867566842000
